# Frequent Pattern Study
## Litratures 

|Frequent Itemsets via Apriori Algorithm|[Github User Guide for mlxtend](http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/)|

## Frequent Pattern using Apriori Algorithm

### Apriori function : 
- is an algorithm for frequent item set mining and association rule learning over relational databases.
- It proceeds by identifying the frequent individual items in the database and extending them to larger and larger item sets as long as those item sets appear sufficiently often in the database.

# Example 1 -- Generating Frequent Itemsets

The apriori function expects data in a `one-hot` encoded pandas DataFrame. Suppose we have the following transaction data:

In [1]:
initial_dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
# Professor added sample incremental data;  Each student should add own incremental data of 5 lines
incremenal_data = [['Juice', 'Nutella', 'Bread', 'Butter', 'Oatmeal'],
           ['Sausage', 'Bacon', 'Eggs', 'Potato', 'Kidney Beans'],
           ['Milk', 'Sour Dough', 'Nutella', 'Banana', 'Cheese'],
           ['Corn', 'Banana', 'Eggs', 'Onion', 'Tomato', 'Butter'],
           ['Milk', 'Bread', 'Butter', 'Nutella', 'Nesquick', 'Chocolate']]

In [3]:
# merged final dataset
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
           ['Juice', 'Nutella', 'Bread', 'Butter', 'Oatmeal'],
           ['Sausage', 'Bacon', 'Eggs', 'Potato', 'Kidney Beans'],
           ['Milk', 'Sour Dough', 'Nutella', 'Banana', 'Cheese'],
           ['Corn', 'Banana', 'Eggs', 'Onion', 'Tomato', 'Butter'],
           ['Milk', 'Bread', 'Butter', 'Nutella', 'Nesquick', 'Chocolate']]

In [4]:
%pip install mlxtend --upgrade
# restart kernel after this

Requirement already satisfied: mlxtend in c:\programdata\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

- We can transform it into the right format via the TransactionEncoder as follows:

In [5]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te = TransactionEncoder()
# The fit method is to learn what is the item to transaction
# the transform method is to Transform transactions into a one-hot encoded NumPy array.
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Bacon,Banana,Bread,Butter,Cheese,Chocolate,Corn,Dill,Eggs,...,Nutella,Nutmeg,Oatmeal,Onion,Potato,Sausage,Sour Dough,Tomato,Unicorn,Yogurt
0,False,False,False,False,False,False,False,False,False,True,...,False,True,False,True,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,True,False,True,...,False,False,False,True,False,False,False,False,False,False
5,False,False,False,True,True,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
6,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,True,True,False,False,False,False
7,False,False,True,False,False,True,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
8,False,False,True,False,True,False,False,True,False,True,...,False,False,False,True,False,False,False,True,False,False
9,False,False,False,True,True,False,True,False,False,False,...,True,False,False,False,False,False,False,False,False,False

- Imagine that we need the min-support for transactions that fit 60%
- apriori function Get frequent itemsets from a one-hot DataFrame

In [7]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.4 , use_colnames=True)

   support              itemsets
0      0.6                (Eggs)
1      0.6        (Kidney Beans)
2      0.5                (Milk)
3      0.4               (Onion)
4      0.5  (Kidney Beans, Eggs)
5      0.4         (Eggs, Onion)

Observation: that means `Eggs` is frequently 70% repeated in all transactions and `Milk` is is also present 70% of the time

# Selecting and Filtering Results

In [8]:
frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support              itemsets  length
0      0.6                (Eggs)       1
1      0.6        (Kidney Beans)       1
2      0.5                (Milk)       1
3      0.4               (Onion)       1
4      0.5  (Kidney Beans, Eggs)       2
5      0.4         (Eggs, Onion)       2

In [9]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.4) ]

   support              itemsets  length
4      0.5  (Kidney Beans, Eggs)       2
5      0.4         (Eggs, Onion)       2

In [10]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Eggs', 'Kidney Beans'} ]

   support              itemsets  length
4      0.5  (Kidney Beans, Eggs)       2

# Example 2 -- Association Rules Generation from Frequent Itemsets

`Rule generation` is a common task in the mining of frequent patterns.
-  An association rule is an implication expression of the form X → Y, where X and Y are disjoint itemsets

A more concrete example based on consumer behaviour would be `{Diapers}→{Beer}` suggesting that people who buy diapers are also likely to buy beer. 
- To evaluate the "interest" of such an association rule, different `metrics` have been developed. The current implementation make use of the `confidence` and `lift` metrics.

'support':
$support(A→C)=support(A∪C),range: [0,1]$

The `support` metric is defined for itemsets, not assocication rules. 
- The table produced by the association rule mining algorithm contains three different support metrics: 
    - 'antecedent support'
    - 'consequent support'
    - 'support'

> 'antecedent support' computes the proportion of transactions that contain the antecedent A.


> 'consequent support' computes the support for the itemset of the consequent C.


> The 'support' metric then computes the support of the combined itemset A ∪ C -- 
    -note that 'support' depends on 'antecedent support' and 'consequent support' via $$min('antecedent support', 'consequent support')$$

Typically, support is used to measure the `abundance` or `frequency` (often interpreted as significance or importance) of an itemset in a database. 

- We refer to an itemset as a __frequent itemset__ if you support is larger than a specified minimum-support threshold. 
    - Note that in general, due to the downward closure property, all subsets of a frequent itemset are also frequent.
    - here comes the pruning idea for apriori, Open lecture to understand more


'__confidence__': Let's create the Law with $LaTex$

$$ confidence(A→C) = {{support(A→C)} \over {support(A)}},range: [0,1]$$

> The confidence of a rule A->C is the probability of seeing the consequent in a transaction given that it also contains the antecedent. 

- Note that the metric is not symmetric or directed; for instance, the confidence for A->C is different than the confidence for C->A. 
- The confidence is 1 (maximal) for a rule A->C if the consequent and antecedent always occur together.

'lift':
$$lift(A→C)={{confidence(A→C)} \over {support(C)}},range: [0,∞]$$

- The lift metric is commonly used to measure how much more often the antecedent and consequent of a rule A->C occur together than we would expect if they were statistically independent. 
- If A and C are independent, the Lift score will be exactly 1.

In [11]:
from mlxtend.frequent_patterns import association_rules

associationRulesSet =association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
associationRulesSet

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4
1,(Eggs),(Kidney Beans),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4
2,(Eggs),(Onion),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
3,(Onion),(Eggs),0.4,0.6,0.4,1.000000,1.666667,0.16,inf

- I Wouldn't like to manipulate the frozen sets so we make a list
- The Association Rules can be defined as : $$antecedent -> consequent = [ support = # , confidence = #]$$

In [12]:
for i , row in associationRulesSet.iterrows():
    print(f"{i+1} - {list(row.antecedents)} -> {list(row.consequents)} = [support = {row.support} , confidence = {row.confidence}, lift ={row.lift}] , dependent = {row.lift != 1.0}" )

1 - ['Kidney Beans'] -> ['Eggs'] = [support = 0.5 , confidence = 0.8333333333333334, lift =1.388888888888889] , dependent = True
2 - ['Eggs'] -> ['Kidney Beans'] = [support = 0.5 , confidence = 0.8333333333333334, lift =1.388888888888889] , dependent = True
3 - ['Eggs'] -> ['Onion'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.6666666666666667] , dependent = True
4 - ['Onion'] -> ['Eggs'] = [support = 0.4 , confidence = 1.0, lift =1.6666666666666667] , dependent = True

In [13]:
associationRulesSet["antecedent_len"] = associationRulesSet["antecedents"].apply(lambda x: len(x))
associationRulesSet

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Eggs),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4,1
1,(Eggs),(Kidney Beans),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4,1
2,(Eggs),(Onion),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1
3,(Onion),(Eggs),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,1

- if you just need the associaltion rule of some antecedents or consequents

In [14]:
associationRulesSet[associationRulesSet['antecedents'] == {'Eggs'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
1,(Eggs),(Kidney Beans),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4,1
2,(Eggs),(Onion),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1

In [15]:
associationRulesSet[associationRulesSet['consequents'] == {'Eggs'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Eggs),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4,1
3,(Onion),(Eggs),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,1

if you need to query something by rules just do it :

- rules 
    - support >= 0.4
    - confidence >= 0.7
    - lenth of items as antecedents = 1

In [16]:
associationRulesSet[(associationRulesSet['support'] >= 0.4) &
                    (associationRulesSet['confidence'] >=0.7)&
                    (associationRulesSet['antecedent_len'] ==1) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Eggs),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4,1
1,(Eggs),(Kidney Beans),0.6,0.6,0.5,0.833333,1.388889,0.14,2.4,1
3,(Onion),(Eggs),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,1

# # Example 3 -- Working with Sparse Representations

In [17]:
# To save memory, you may want to represent your transaction data in the sparse format. This is especially useful if you have lots of products and small transactions.

oht_ary = te.fit(dataset).transform(dataset, sparse=True)
sparse_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, columns=te.columns_)
sparse_df

,Apple,Bacon,Banana,Bread,Butter,Cheese,Chocolate,Corn,Dill,Eggs,...,Nutella,Nutmeg,Oatmeal,Onion,Potato,Sausage,Sour Dough,Tomato,Unicorn,Yogurt
0,0,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,1,1,...,0,1,0,1,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
5,0,0,0,1,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,0
7,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
8,0,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
9,0,0,0,1,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [18]:
apriori(sparse_df, min_support=0.6, use_colnames=True, verbose=1)

Processing 2 combinations | Sampling itemset size 2

   support        itemsets
0      0.6          (Eggs)
1      0.6  (Kidney Beans)

# # Example 4 -- Frequent Itemsets via the FP-Growth Algorithm

By default, fpgrowth returns the column indices of the items, which may be useful in downstream operations such as association rule mining. For better readability, we can set use_colnames=True to convert these integer values into the respective item names:

In [19]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.6, use_colnames=True)

   support        itemsets
0      0.6  (Kidney Beans)
1      0.6          (Eggs)

Since FP-Growth doesn't require creating candidate sets explicitly, it can be magnitudes faster than the alternative Apriori algorithm. For instance, the following cells compare the performance of the Apriori algorithm to the performance of FP-Growth -- even in this very simple toy dataset scenario, FP-Growth is considerable faster

In [20]:
from mlxtend.frequent_patterns import apriori

%timeit -n 100 -r 10 apriori(df, min_support=0.6)

828 µs ± 59.9 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [21]:
%timeit -n 100 -r 10 apriori(df, min_support=0.6, low_memory=True)

1.15 ms ± 209 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [22]:
from mlxtend.frequent_patterns import fpgrowth

%timeit -n 100 -r 10 fpgrowth(df, min_support=0.6)

646 µs ± 124 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)